<div style="position: absolute;bottom:50px;width:100%;" class="text-white text-center flex justify-center items-center object-bottom font-medium">
  <a href="/privacy-policy">Privacy Policy</a>
</div>
