<div class="flex flex-wrap bg-gray-800">
  <div id="chat-box">
  </div>

  <form id="chat-form">
    <input type="text" placeholder="Username" id="chat-user-name"/>
    <textarea placeholder="Your comment" id="chat-user-msg"></textarea>
    <button type="submit">Post</button>
  </form>
</div>
