<div id="entry-overlay" class="flex justify-center items-center" style="margin-top: 25%;">
  <div class="flex justify-center flex-wrap">
    <div class="w-full text-center text-white font-medium mb-8 text-2xl">
      Discover an amazing genre of nostalgic <br/>Japanese songs from the 80s through live radio
    </div>
    <div id="listen-btn" class="px-4 py-2 rounded text-xl">🍡 Listen Now 🍡</div>
  </div>
</div>
<div id="radio" class="hidden flex flex-wrap items-center md:flex-nowrap gap-x-6 gap-y-6 md:pt-8">
  <div class="w-full md:w-1/2">
    <%= render "_now_playing.html", assigns %>
  </div>
  <div class="w-full md:w-1/2">
    <%= render CitypopsongsWeb.ChatView, "index.html", assigns %>
  </div>
</div>
